<div class="loginForm">
	<h3>Login</h3>

	<app-text-input [(inputModel)]="username" label="Brukernavn" (blur)="checkForm()"></app-text-input>

	<app-password-input [(inputModel)]="password" label="Passord" (blur)="checkForm()"></app-password-input>

	<p>{{statusMessage}}</p>

	<app-button (click)="loginUser()" text="Login"></app-button>
</div>
