<h2>{{post.getTitle}}</h2>

<img [src]="post.getImageUrl">
<h4>{{post.getPrice}} kr</h4>
<p>{{post.getDescription}}</p>
<br>
<p>Publisert: {{post.getTimestamp}}</p>
<p>Eier: {{post.getOwner}}</p>

<div *ngIf="userId == post.getOwner">
    <app-button text="Rediger annonse" (click)="editPost()"></app-button>
    <app-button text="Slett annonse" (click)="deletePost()"></app-button>
</div>
