<label>
    {{label}}

    <input  
    [type]="isVisible ? 'text' : 'password'"
    [placeholder]="placeholder"
    [(ngModel)]="inputModel" 
    (ngModelChange)="inputModelChange.emit(inputModel)" 
    (change)="change.emit($event)"
    (focus)="focus.emit($event)"
    (blur)="blur.emit($event)">
    <app-button (click)="togglePasswordVisible()" [text]="toggleText"></app-button>
</label>